.container {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  color: #515151;
  padding: 0 60px;
}
.title {
  color: #84087e;
  font-weight: 500;
  font-size: 1.6rem;
}
.message {
  max-width: 82%;
}
.author {
  font-weight: 500;
  text-transform: capitalize;
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0;
    align-items: center;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding: 0 20px;
  }
}
