.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
app-comments {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
