.background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../../assets/img/background_grafismos_roxo.svg");
  background-color: #84087e;
  background-size: cover;
  margin-right: 12rem;
  width: 20vw;
  height: 32.5rem;
}

.logo {
  margin-bottom: 2.5rem;
  height: 210px;
}

@media screen and (max-width: 1024px) {
  .background {
    margin-right: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .background {
    margin-right: 0;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .background {
    width: 25vw;
  }
}
@media screen and (max-width: 768px) {
  .background {
    width: 100%;
    height: 35%;
  }
  .logo {
    margin: 0;
  }
}
